.header {
  background-color: #c82333;
  color: white;
  height: 8vh;
  position: relative;
}

.logo {
  height: 3.5em;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 5vh;
}

.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  margin: 1em;
}

aside {
  height: 92vh;
  text-align: center;
}

aside h3 {
  margin-top: 10%;
}

aside li {
  margin: 30px;
  list-style: none;
}

.content {
  text-align: center;
  min-width: 100%;
  height: 100%;
}

.content h2 {
  margin-top: 10%;
}

.txt {
  margin-top: 10%;
}

.container {
  padding: 30px;
  text-align: center;
}

.containercards {
  text-align: center;
}

.cardpoke {
  border: 2px solid red;
  border-radius: 20px;
  width: 25em;
  height: 16em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 4vh;
  display: inline-block;
}

.cardpoke:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.capitalize:first-letter {
  text-transform: capitalize;
}

.center {
  text-align: center;
}

.pokeimg {
  float: left;
  max-width: 100px;
}

.left {
  float: left;
  text-align: left;
}

.egglistimg:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.carditem {
  border: 2px solid red;
  border-radius: 20px;
  width: 25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 4vh;
  padding: 5px;
  display: inline-block;
}

.itemimg {
  max-width: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}